@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40300%3B400%3B500%3B600%3B700%3B800%3B900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand%3Awght%40300%3B400%3B500%3B600%3B700&display=swap");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* <!-- Top-Header-section --> */

.top-header {
    width: 100%;
    height: 40px;
    background: url(images/Group\ 107\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header .top-header-content {
    color: #301F4A;
    font-size: 14px;
    font-weight: 700;
    font-family: ' Manrope';
    text-align: center;
}

/* <!-- main-header-section --> */
.main-header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin-top: 10px;
}

.header1 .header-search span {
    background-color: #FA5C98;
    color: #fff;
}

.main-header .header-search {
    width: 570px;
}

.main-header .header-search strong i {
    border: 1px solid #ced4da;
    padding-right: 20px;
    color: #FA5C98;

}

.main-header .user span i {
    /* border: 2px solid red; */
    height: 26px;
    width: 26px;
    background-color: #FA5C98;
    border-radius: 50%;
    color: white;
    font-size: 12px;

}

@media (max-width:500px) {

    .main-header input,
    .input-group-text,
    strong i {
        /* border: 2px solid red; */
        /* width: 120px; */
        height: 40px;
        padding: 20px;
        margin-top: 30px;
    }

}

/* <!-- bottom-header-section --> */
.bottom-header {
    text-align: center;
    display: flex;
    justify-content: center;

}

.nav-item .nav-link {
    margin: 12px;
}

.header-nav ul li a {
    font-weight: 600;
    color: #000;
    z-index: 9999;
}

.header-nav .navbar-toggler span {
    border: 2px solid black;
    color: green;
}

.header-nav ul li a:hover {
    color: #FA5C98;
}

.header-nav ul li a:focus {
    color: #FA5C98;
}

.navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

/* header-nav */

.header-nav nav {
    width: 100%;
    height: 80px;
}



@media (max-width:500px) {
    .header-nav nav {
        margin-top: 60px;
        padding-left: 240px;
    }
}

@media (max-width:991px) {

    .header-nav .collapse {
        background-color: #fff;
        z-index: 9999;
        border-radius: 12px;
    }
}

/* banner-section */
.banner-section {
    width: 100%;
    height: 364px;
    background: #ffdfee8a;
    display: flex;
    justify-content: center;
    align-items: center;

}

.carousel-inner {
    transition: all 5s ease;
}

.banner-section .banner-content p {
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 600;
    line-height: 58px;
}

@media (max-width:1200px) {
    .banner-section .banner-content p {
        font-size: 36px;
        line-height: 54px;
        font-weight: 600;
    }
}

@media (max-width:700px) {
    .banner-section .banner-content p {
        font-size: 24px;
        line-height: 50px;
        font-weight: 600;
    }
}

/* bpractice banner -2 */

.carousel-item {
    /* transition: all 2s linear; */
}

.carousel .carousel-item img {
    width: 240px;
}



.carousel .pre {
    display: flex;
}



/* .carousel-control-prev i {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    color: #FA5C98;
    font-weight: 900;
    z-index: 2;

} */

/* .carousel-control-next i {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    color: #FA5C98;
    font-weight: 900;
    z-index: 2;
} */

@media (max-width:500px) {
    .banner-content {
        width: 100%;
        padding-left: 16px;
    }

    .banner-content p {
        font-size: 20px !important;
        line-height: 28px !important;
    }

    .carousel-item img {
        width: 180px !important;
    }
}

/* Product-section */
h2 {
    margin: 48px 0;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins';
}

body {
    font-family: 'Poppins';
}

.product-section .card-body p {

    font-size: 16px;
    font-weight: 600;
    text-align: center;

}

.product-section .card-body h5 {

    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #FA5C98;
    cursor: pointer;

}

/* <!-- courses-section --> */
.courses-section {
    background-color: #fff2f8;
    margin: 30px 0;
    padding: 20px;
}


.courses-section p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 28px;
}

@media (max-width:720px) {
    .courses-section .courses-img img {
        margin-left: 80px;
    }
}

/* blog-section */
.review .review-slider {
    padding: 1rem;
}

.review .review-slider .box {
    border-radius: 0.5rem;
    text-align: center;
    padding: 2rem 1rem;
    transition: .2s linear;
}

.review .review-slider .box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.review .review-slider .box h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding: 8px 0px;
}

.review .review-slider .box .btn {
    width: 126px;
    height: 38px;
    border-radius: 7px;
    background: linear-gradient(90deg, #DC8064 -11.11%, #E98C70 6.02%, #FB9E82 23.14%, #FDBB9F 48.17%, #FFCAAE 63.98%, #F8AD92 78.48%, #F19176 95.6%);
    border: none;
    outline: none;
    margin: auto;
    margin-bottom: 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

/* connect-section */

.connect-section .connect-inputs input {
    width: 80%;
    border: none;
    outline: none;
    box-shadow: 2px 6px 13px 4px #BEBEBE33;
    height: 60px;
    border: 2px solid #BEBEBE33;
    border-radius: 7px;
    padding: 20px;
}

.connect-section .connect-inputs input::placeholder {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.connect-section .connect-inputs i {
    color: #FA5C98;

}

textarea {
    width: 80%;
    border: none;
    outline: none;
    border: 2px solid #BEBEBE33;
    height: 80px;
    margin-left: 30px;
    box-shadow: 2px 6px 13px 4px #BEBEBE33;
    padding: 20px;
}

.connect-section .connect-image img {
    width: 450px;
}

@media (max-width:500px) {
    .connect-section .connect-image img {
        width: 340px;
    }
}

/* footer-section */

.footer {
    background-color: #FA5C98;
    margin-top: 48px;
}

.footer .footer-panel1 p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.footer-panel1 {
    border-bottom: 1px solid #fff;
    padding: 32px 0px;
}

.footer .input-group button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 4px;
}

.footer .footer-panel2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

@media (max-width:500px) {
    .footer .footer-panel2 ul p {
        font-size: 12px;
    }

    .footer .footer-panel2 ul a {
        font-size: 12px;
    }
}

.footer-panel2 {
    padding: 34px 0px;
}

.footer-panel2 ul p {
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;

}

.footer-panel2 {
    /* text-align: center; */
}

.footer-panel2 ul a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding: 6px 0px;

}

.footer-panel2 .footer-media {
    display: flex;
    /* justify-content: space-evenly; */
    /* justify-content: center; */
}



.footer-panel2 .footer-media i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb87b3;
    width: 26px;
    height: 26px;
    border-radius: 50%;

}


/* <!-- Product-section-2 --> */

.product-category .price p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #C1C1C1;
}

.product-category .dropdown-btn {
    display: flex;
}

.product-category .dropdown-btn .dropdown button {
    color: #C1C1C1;
    border: 2px solid #C1C1C1;
}

.product-category .product-card .box .card-body h6 {
    font-size: 16px;
    font-weight: 600;
    color: #FA5C98;

}

.product-category .product-card .box .card-body span {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.product-category .product-card .box .card-body .icons i {
    color: #FFBB0E;

}

.product-category .product-card .box .card-body h5 {
    color: #C0590E;

}

/* <!-- detailed-product-page --> */

.detailed-product-page {
    margin: 40px auto;
}

.detailed-product-page p {
    color: #C1C1C1;
}

.detailed-product-page span {
    font-size: 14px;
}

.detailed-product-page i {
    color: #FFBB0E;
}

.detailed-product-page h6 span {
    color: #C1C1C1;
}

button {
    border: none;
    outline: none;
}

.detailed-product-page .btn-group {
    background-color: transparent;
    width: 140px;
    display: flex;
    justify-content: space-evenly;
    border: 0.67px solid #F0F0F0;
}

.detailed-product-page .buy {
    width: 126px;
    height: 38px;
    border-radius: 7px;
    background: linear-gradient(90deg, #DC8064 -11.11%, #E98C70 6.02%, #FB9E82 23.14%, #FDBB9F 48.17%, #FFCAAE 63.98%, #F8AD92 78.48%, #F19176 95.6%);
    border: none;
    outline: none;
    margin: auto;
    margin-bottom: 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.detailed-product-page .cart {
    width: 126px;
    height: 38px;
    border-radius: 7px;
    border: 2px solid #DC8064;
    color: #f0501f;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
}

.description-box {
    margin: 80px auto;

}

.description-box .heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.description-box .heading .des {
    border-bottom: 2px solid #FA5C98;
}

.description-box .content p {
    padding-top: 30px;
    font-size: 14.05px;
    font-weight: 400;
    line-height: 20.08px;
}

/* related-product-section */

.related-product .owl-carousel .item {
    width: 200px;
    border: 2px solid #E6896D;
    border-radius: 10px;
}

.related-product .owl-carousel img {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.related-product .owl-carousel .item .box {
    display: flex;
    justify-content: space-between;
}

.related-product .owl-carousel .item .box i {
    width: 26px;
    height: 26px;
    color: #FA5C98;
    border-radius: 50%;
    border: 2px solid #D7D7D7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #FFF2F8;
}

.related-product .owl-carousel .item .box .new {
    width: 38px;
    height: 24px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 10.04px;
    font-weight: 500;
    line-height: 12.05px;
    background-color: green;
    border-radius: 10px;
    text-align: center;
}

.related-product .owl-carousel .item .product-btn {
    width: 126px;
    height: 38px;
    border-radius: 7px;
    background: linear-gradient(90deg, #DC8064 -11.11%, #E98C70 6.02%, #FB9E82 23.14%, #FDBB9F 48.17%, #FFCAAE 63.98%, #F8AD92 78.48%, #F19176 95.6%);
    border: none;
    outline: none;
    margin: auto;
    margin-bottom: 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}